<div class="jumbotron">
  <h1 class="display-4">Amazon Scraper</h1>
  <p class="lead">Amazon.com Best Sellers: More choices for Christmas gifts</p>
</div>

<div id="buttons">
  <button class="btn btn-primary btn-lg" id="name-sort">Sort By Name</button>
  <button class="btn btn-primary btn-lg" id="price-sort">Sort By Stars</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Link</th>
      <th scope="col">Image</th>
      <th scope="col">Wish list</th>
    </tr>
  </thead>
  
  <tbody>

    {{#each products}}
    <tr>
      <td>{{name}}</td>
      <td><a href="https://www.amazon.com{{link}}">https://www.amazon.com{{link}}</a></td>
      <td><img src="{{image}}" /></td>
      <td>
        <button style="font-size:30px" class="fa fa-cart-plus add-wishlist" data-name="{{name}}" data-link="{{link}}" data-image="{{image}}">
        </button>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>