<div class="jumbotron">
  <h1 class="display-4">Wishlist</h1>
  <p class="lead">Amazon.com Best Sellers: More choices for Christmas gifts</p>
</div>

<div class="view-button">
  <button class="btn btn-success" id="view-mainpage">View Main Page</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Link</th>
      <th scope="col">Image</th>
      <th scope="col">Comments</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>

    {{#each products}}
    <tr>
      <td>{{name}}</td>
      <td><a href="https://www.amazon.com{{link}}">https://www.amazon.com{{link}}</a></td>
      <td><img src="{{image}}" /></td>
      <td clsss="show-comment"></td>
      <td>
        {{!-- Bootstrap Modal --}}
        <button class="btn btn-info action-comment" data-toggle="modal" data-target="#exampleModal"
          data-whatever="@mdo">Comment
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Comment:</label>
                    <textarea class="form-control" class="comment-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" class="save-comment">Save comment</button>
              </div>
            </div>
          </div>
        </div>

        <br />
        <br />
        <button class="btn btn-secondary action-delete" data-id={{this.id}}>Delete
        </button>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>